body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: bisque;
}

#board{
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}